# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# IDEs
.idea/
.vscode/
*.swp

# Node / JS (if added later)
node_modules/
package-lock.json

# OS files
.DS_Store
Thumbs.db

# Project specifics
latex_report/
*.zip
